:root {
    --main-color:rgb(3, 158, 230);
    --nuetral-color: #d8e6f3;
    --accent-color:#ffd000;
    --font-color:#3a3a3a;
    --font: Roboto;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
}

body {
    background-color: var(--nuetral-color);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 20vh 80vh; /* Gotta be a simplier cleaner way to do this */
}

/* Sidebar */
aside {
    background-color: var(--main-color);
    grid-area: 1 / auto / 3/ auto;
    padding: 15px;
}

.title {
    display: flex;
    padding: 20px 0px;
    align-items: center;
}

.title h2 {
    color: #fff;
    font-weight: bold;
}

.logo {
    padding: 20px;
    border: 1px solid #fff;
    margin-right: 15px;
}

.nav-icons {
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #fff;
}

.nav-option {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.nav-option > p {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
}

.settings {
    margin-top: 30px;
}

/* Top Nav */
.header {
    background-color: #fff;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.projects {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
}

.projects h3 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.card {
    background-color: #fff;
}

.announcement-card {
    background-color: #fff;
}

.trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.trending-card {
    background-color: #fff;
}