:root {
    --main-color:rgb(0, 174, 255);
    --nuetral-color: #d8e6f3;
    --accent-color:#ffd000;
    --font-color:#222;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--nuetral-color);
}

aside {
    background-color: var(--main-color);
}

.header {
    background-color: #fff;
}
